@page "{id:int?}"
@model RazorBooks.Pages.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>Edit Books - @Model.Book.Id</h1>
<form method="post">
    <input asp-for="Book.Id" type="hidden" />
    <div>
        <label asp-for="Book.Name"></label>
        <div>
            <input asp-for="Book.Name" />
            <span class="text-danger" asp-validation-for="Book.Name"></span>
        </div>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>