@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Book in Model.Books)
            {
                <tr>
                    <td> @Book.Id </td>
                    <td>@Book.Name</td>
                    <td>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@Book.Id">delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="Create">Create New</a>
</form>
